* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  color: #caf0f8;
  font-family: "Fredoka", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  font-family: "Fredoka", sans-serif;
  color: #caf0f8;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2rem;
  border: #17181a;
  border-color: #17181a;
  border-radius: 10px;
  background: #3e3e42;
}

form button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  color: #d0efff;
  background: #1167b1;
  cursor: pointer;
  transition: 0.3s ease;
}
form button:hover {
  background: #03254c;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #3e3e42;
  border-radius: 10px;
  padding: 6px;
  font-size: 1.5rem;
  color: #caf0f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.todo-filter {
  padding: 1rem;
  background-color: #3e3e42;
  border-radius: 10px;
  color: #caf0f8;
}
.todo li {
  flex: 3;
}

.trash-btn,
.complete-btn {
  border-radius: 10px;
  background: #ff6f47;
  color: #ffe8e8;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn:hover {
  background: #f86035;
}
.complete-btn {
  background: #65dda1;
  color: #e5f6df;
}
.complete-btn:hover {
  background: #39d688;
  color: #e5f6df;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: visible;
}

.completed {
  color: #65dda1;
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
select {
  font-family: "Fredoka", sans-serif;
  color: #caf0f8;
  cursor: pointer;
  width: 12rem;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #007acc;
  cursor: pointer;
  pointer-events: none;
}
.select:hover {
  color: #caf0f8;
}
